configuration {
  modes:               "drun";
  show-icons:          true;
  icon-theme:          "Papirus";
  drun-display-format: "{name}";
  display-drun:        " Apps";
  case-sensitive:      false;
  cycle:               true;
  sidebar-mode:        false;
  hover-select:        true;
  me-select-entry:     "";
  me-accept-entry:     "MousePrimary";
  terminal:            "alacritty";
  levenshtein-sort: false;
  sort: true;
  sorting-method: "normal";
}


@theme "~/.config/rofi/themes/onedark.rasi"
